@import 'variables';

:host {
  .mat-sort-header {
    color: $green;
  }
}

.account-row:hover {
  background-color: $light-green;
}

.decreased-balance {
  background-color: $light-red;
}

.increased-balance {
  background-color: $green;
}
